{% extends "taxiapp/base.html" %}
{% block main %}
<style type="text/css">
.container {
    width: 800px;
}

table, th, td {
    padding: 5px;
  }

  table {
    border-spacing: 15px;
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

/* HIDE RADIO
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
/* [type=radio] + img {
  cursor: pointer;
} */

/* CHECKED STYLES */
/* [type=radio]:checked + img.green {
  outline: 2px solid green;
}
[type=radio]:checked + img.red {
  outline: 2px solid red;
} */

/* Rating Star Widgets Style */
/* .rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
} */

/* Idle State of the stars */
/* .rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  /* color:#ccc; /* Color on idle state */
/* } */

/* Hover state of the stars */
/* .rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
} */

/* Selected state of the stars */
/* .rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
} */ 

</style>
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center;">Add Vehicle</h3>
      </div>
      <form action="/add_vehicle_details/" method="POST">
        {%csrf_token%}
      <table align="center" border="0">
          <tr>
              <td>Traffic Number</td>
              <td>
                  <input type="text" placeholder="Traffic Number" name="v_traffic_number" id = "v_traffic_number" required maxlength="28"> 
              </td>
          </tr>
          <tr>
                <td>Number Plate</td>
            <td>
                    <input type="text" placeholder="Number Plate" name="v_number_plate" required maxlength="24">   
                </td>
            </tr>
            <tr>
                    <td>Auto Stand</td>
                <td>
                        <input type="text" placeholder="Auto Stand" name="v_autostand" id="v_autostand"  maxlength="80"> 
                    </td>
            </tr>
            <tr>
              <td>Union</td>
            <td>
                  <input type="text" placeholder="Union" name="v_union" id="v_union"  maxlength="100"> 
              </td>
            </tr>
            <tr>
              <td>Insurance</td>
            <td>
                  <input type="date" placeholder="Insurance" name="v_insurance" id="v_insurance" required>  
              </td>
            </tr>
            <tr>
              <td>Pollution</td>
            <td>
                  <input type="date" placeholder="pollution" name="v_pollution" id="v_pollution" required> 
              </td>
            </tr>
            <tr>
              <td>Engine Number</td>
            <td>
                  <input type="text" placeholder="Engine Number" name="v_engine_number" id="v_engine_number"  maxlength="40"> 
              </td>
            </tr>
            <tr>
              <td>Chasis Number</td>
            <td>
                  <input type="text" placeholder="Chasis Number" name="v_chasis_number" id="v_chasis_number"  maxlength="30"> 
              </td>
            </tr>
            <!-- <tr>
              <td>rc_number</td>
            <td>
                  <input type="text" placeholder="rc_number" name="rc_number" required maxlength="28"> 
              </td>
            </tr> -->
            <tr>
              <td>Rc Expiry</td>
            <td>
                  <input type="date" placeholder="Rc Expiry" name="v_rc_expiry" id="v_rc_expiry" required> 
              </td>
            </tr>
            <tr>
            <td>Capacity Of Passengers</td>
        <td>
                    <input type="text" placeholder="Capacity Of Passengers" name="v_capacity_of_passengers" id="v_capacity_of_passengers"  maxlength="14"> 
                </td>
              </tr>
                      <tr>
                          <td>City</td>
                        <td>
                              <!-- <input type="text" placeholder="city" name="city" required>  -->
                              <select name="v_city" id="v_city">
                                     {% for x in cities %}
                                     <option value={{x}}>{{x}}</option>
                                      {% endfor %}
                              </select>
                          </td>
                        </tr>
                        <tr>
                                <td>Vehicle Type</td>
                              <td>
                                    <!-- <input type="text" placeholder="city" name="city" required>  -->
                                    <select name="v_vehice_type" id="v_vehice_type">
                                           {% for x in vehice_type %}
                                           <option value={{x}}>{{x}}</option>
                                            {% endfor %}
                                    </select>
                                </td>
                              </tr>
                        <!-- <tr align="center">
                            <td accesskey="center">  
                                <button type="submit" class="btn btn-success btn-sm">Save</button>
                            </td>
                        </tr> -->
                        <tr>
                          <td></td>
                        </tr>
                    </table>
                    <!-- </form> -->
                   
      </div>

      <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align: center;">Add Owner</h3>
            </div>
            <!-- <form action="/add_owner_details/" method="POST">
              {%csrf_token%} -->
            <table align="center" border="0">
                <tr>
                    <td>Owner Name</td>
                    <td>
                        <input type="text" placeholder="Owner Name" name="o_owner_name" id="o_owner_name" required maxlength="40"> 
                    </td>
                </tr>
                <tr>
                      <td>Address</td>
                  <td>
                          <input type="text" placeholder="Address" name="o_address" id="o_address" required maxlength="200">   
                      </td>
                  </tr>
                  <tr>
                          <td>Date Of Birth</td>
                      <td>
                              <input type="date" placeholder="Date Of Birth" name="o_date_of_birth" id="o_date_of_birth"> 
                          </td>
                  </tr>
                  <tr>
                    <td>Son Of</td>
                  <td>
                        <input type="text" placeholder="Son Of" name="o_son_of"  id="o_son_of" maxlength="100"> 
                    </td>
                  </tr>
                  <tr>
                        <td>Phone Number</td>
                      <td>
                            <input type="text" placeholder="Phone Number" name="o_phone_number" id="o_phone_number" >  
                        </td>
                      </tr>
                      <tr>
                        <td>Aadhar Number</td>
                      <td>
                            <input type="text" placeholder="Aadhar Number" name="o_aadhar_number" id="o_aadhar_number" maxlength="22"> 
                        </td>
                      </tr>
                    <tr>
                        <td>DL Number</td>
                        <td>
                            <input type="text" placeholder="DL Number number" name="o_dl_number" id="o_dl_number" required maxlength="22"> 
                        </td>
                        </tr>
                        <tr>
                        <td>DL Expiry</td>
                        <td>
                            <input type="date" placeholder="DL Expiry" name="o_dl_expiry" id="o_dl_expiry" required> 
                        </td>
                        </tr>
                  
                              <!-- <tr align="center">
                                  <td accesskey="center">  
                                      <button type="submit" class="btn btn-success btn-sm">Save</button>
                                  </td>
                              </tr> -->
                              <tr>
                                  <td></td>
                                </tr>
                          </table>
                          <!-- </form> -->
                         
            </div>
   
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center;">Add Driver</h3>
              </div>
              <table id="driver" align="center" border="0">
                <tr id="row">
                    <!-- <td>Traffic Number</td>
                    <td>
                        <input type="text" placeholder="Traffic Number" name="traffic_number" maxlength="22"> 
                    </td> -->
                <!-- </tr>
                <tr> -->
                      <td>Driver Name</td>
                      <td>
                          <input type="text" placeholder="Driver Name" name="d_driver_name" id="d_driver_name" required maxlength="40"> 
                      </td>
                  <!-- </tr>
                <tr> -->
                      <td>Address</td>
                  <td>
                          <input type="text" placeholder="Address" name="d_address" id="d_address" required maxlength="200">   
                      </td>
                  <!-- </tr>
                  <tr> -->
                          <td>Date Of Birth</td>
                      <td>
                              <input type="date" placeholder="Date Of Birth" name="d_date_of_birth" id="d_date_of_birth"> 
                          </td>
                  <!-- </tr>
                  <tr> -->
                    <td>Son Of</td>
                  <td>
                        <input type="text" placeholder="Son Of" name="d_son_of" id="d_son_of" required maxlength="40"> 
                    </td>
                  <!-- </tr>
                  <tr> -->
                    <td>Phone Number</td>
                  <td>
                        <input type="text" placeholder="Phone Number" name="d_phone_number" id="d_phone_number" >  
                    </td>
                  <!-- </tr>
                  <tr> -->
                    <td>Aadhar Number</td>
                  <td>
                        <input type="text" placeholder="Aadhar Number" name="d_aadhar_number" id="d_aadhar_number" maxlength="22"> 
                    </td>
                  <!-- </tr>
                  <tr> -->
                    <td>DL Number</td>
                  <td>
                        <input type="text" placeholder="DL Number number" name="d_dl_number" id="d_dl_number" required maxlength="22"> 
                    </td>
                  <!-- </tr>
                  <tr> -->
                    <td>DL Expiry</td>
                  <td>
                        <input type="date" placeholder="DL Expiry" name="d_dl_expiry" id="d_dl_expiry"> 
                    </td>
                  <!-- </tr> -->
                  <!-- <tr>
                    <td>vehicle_type</td>
                  <td>
                         <input type="text" placeholder="city" name="city" required> 
                        <select name="vehice_type" id="vehice_type">
                               {% for x in vehice_type %}
                               <option value={{x}}>{{x}}</option>
                                {% endfor %}
                        </select>
                    </td>
                  </tr>  -->
                              <!-- <tr align="center">
                                  <td accesskey="center">  
                                      <button type="submit" class="btn btn-success btn-sm">Save</button>
                                  </td>
                              </tr> -->
                              <!-- <tr> -->
                                  <td></td>
                                </tr>
                          </table>
                          <div id="add_new" class="btn btn-success btn-sm">ADD NEW
                            </div>
                </div>

                        <div class="profile-userbuttons center-block">
                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                        </div>
                          </form>
<script>                          
$("#add_new").click(function () { 

  $("#driver").each(function () {
      
      var tds = '<tr id="row">';
      jQuery.each($('tr:last td', this), function () {
          tds += '<td>' + $(this).html() + '</td>';
      });
      tds += '</tr>';
      if ($('tbody', this).length > 0) {
          $('tbody', this).append(tds);
      } else {
          $(this).append(tds);
      }
  });
});
</script>
{% endblock %}