{% extends "taxiapp/base.html" %}
{% block main %}
            <h1 class="text-center login-title">Sign in to access T-Project</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" action="{% url 'taxiapp:admin_login' %}" method="post">
                        {% csrf_token %}
                       {{ form }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                </form>
            </div>
{% endblock %}