{% extends "taxiapp/base.html" %}
{% block main %}

<style type="text/css">

body{
    width:100%;
    text-align:center;
}
img{
    border:0;
}
#main{
    margin: 15px auto;
    background:white;
    overflow: auto;
    width: 100%;
}
#header{
    background:white;
    margin-bottom:15px;
}
#mainbody{
    background: white;
    width:100%;
    display:none;
}
#footer{
    background:white;
}
#v{
    width:320px;
    height:240px;
}
#qr-canvas{
    display:none;
}
#qrfile{
    width:320px;
    height:240px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
#imghelp{
    position:relative;
    left:0px;
    top:-160px;
    z-index:100;
    font:18px arial,sans-serif;
    background:#f0f0f0;
    margin-left:35px;
    margin-right:35px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px;
}
.selector{
    margin:0;
    padding:0;
    cursor:pointer;
    margin-bottom:-5px;
}
#outdiv
{
    width:320px;
    height:240px;
    border-width: 3px 3px 3px 3px;
}
#result{
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding:20px;
    width:70%;
}


{% load static %}


</style>


<script type="text/javascript" src="{% static 'llqrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'webqr.js' %}"></script>

<br>
<br>
    <h1 class="text-center login-title">Scan QR Code</h1>
    <div id="qr-btn" >
    </div>
        <div id="mainbody">
        <table class="tsel" border="0" width="100%">
        <tr>
        <td valign="top" align="center" width="50%">
        <table class="tsel" border="0">
        <tr><td colspan="2" align="center">
        <div id="outdiv">
        </div></td></tr>
        </table>
        </td>
        </tr>
        <tr><td colspan="3" align="center">
        <div id="result"></div>
        </td></tr>
        </table>

        </div>


    <div class="row">
        <h1 class="text-center login-title">Search Taxi</h1>
        <div class="text-center">

        <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>

        </div>
    </div>

</div>



<canvas id="qr-canvas" width="800" height="600"></canvas>
<script type="text/javascript">load()</script>
{% endblock %}
