<h1> Hello, Welcome to Taxi App </h1>

<!--
{% if is_registered %}
    <script>alert("You are successfully registered with user id : {{user_id}}")</script>
    {% else %}
    <form action="{% url 'taxiapp:home' %}" method="post">
    {% csrf_token %}
   {{ form }}
    <input type="submit" value="Submit">
    </form>
{% endif %}

-->
{% if user.is_authenticated %}
 {% if user.is_admin %}
 <form action="/taxi_new" method="get">
	<input type="submit" value="Add New Taxi">
</form>
 {% else %}
 <h1> Hello, Police </h1>
 {% endif %}
<h1> Hello, Loggedin </h1>
{% else %}
<h1> Hello, Loggedout </h1>
{% endif %}

<form action="/admin" method="get">
	<input type="submit" value="Super User Login">
</form>

<form action="/admin_login" method="get">
	<input type="submit" value="Admin Login">
</form>

