{% extends "taxiapp/base.html" %}
{% block main %}
<style type="text/css">
    .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-height: 100px;
  max-width: 100px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}
.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}
.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}
.profile-usermenu ul li:last-child {
  border-bottom: none;
}
.profile-usermenu ul li p {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}
.profile-usermenu ul li p i {
  margin-right: 8px;
  font-size: 14px;
}
.profile-usermenu ul li p:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}
.profile-usermenu ul li.active {
  border-bottom: none;
}
.profile-usermenu ul li.active p {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.qr-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-height: 100px;
  max-width: 100px;
}
td.address /* Give whatever class name you want */
{
width:60%; /* Give whatever width you want */
word-wrap:break-word;
}
</style>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align: center;">{{ taxi.driver_name }} ({{taxi.number_plate}})</h3>
            </div>
            <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                 <div class="profile-userpic">
                    <img src="{{ taxi.driver_image.url }}" class="img-responsive" alt="">

                </div>
                </div>
                               {% if taxi.qr_code %}
              <div class="col-md-6">

                <div class="qr-userpic">
                    <img src="{{ taxi.qr_code.url }}" class="img-responsive" alt="">
                </div>
                </div>
                 {% endif %}
                </div>
                {% if not user.is_authenticated %}
                <div class="row">
                <div class="profile-userbuttons center-block">
                    <a href="{% url 'taxiapp:complaint_form' pk=taxi.traffic_number %}"><button type="button" class="btn btn-success btn-sm">Complaint</button></a>
                    <button type="button" onclick="sendSOS()" class="btn btn-danger btn-sm">Emergency SOS</button>
                </div>
                </div>
                {% endif %}
 
                <div class="center-block" style="margin: 1em;"> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Auto Number</td>
                        <td>{{ taxi.number_plate }}</td>
                      </tr>
                      <tr>
                        <td>Traffic Number</td>
                        <td>{{ taxi.traffic_number }}</td>
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td>{{ taxi.driver_name }}</td>
                      </tr>
                    {% if user.is_authenticated %}
                    <tr>
                        <td>S/O</td>
                        <td>{{ taxi.son_of }}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{ taxi.date_of_birth }} </td>
                      </tr>    
                        <tr>
                        <td>Home Address</td>
                        <td class="address">{{ taxi.address }} </td>
                      </tr>
                                    {% endif %}

                        <td>Phone Number</td>
                        <td>{{ taxi.phone_number }} </td>       
                        </tr>

                    {% if user.is_authenticated %}
                      <tr>
                        <td>Aadhar number</td>
                        <td>{{ taxi.aadhar_number }}</td>
                      </tr>
                      <tr>
                        <td>Driving License</td>
                        <td>{{ taxi.driving_license_number }}</td>
                      </tr>
                      <tr>
                        <td>Valid Upto</td>
                        <td>{{ taxi.date_of_validity }}</td>
                      </tr>
                      <tr>
                        <td>AutoStand</td>
                        <td>{{ taxi.autostand }}</td>
                      </tr>
                      <tr>
                        <td>Union</td>
                        <td>{{ taxi.union }}</td>
                      </tr>
                      <tr>
                        <td>Insurance Valid Upto</td>
                        <td>{{ taxi.insurance }}</td>
                      </tr>
                      <tr>
                        <td>Capacity of Passengers</td>
                        <td>{{ taxi.capacity_of_passengers }}</td>
                      </tr>
                      <tr>
                        <td>Polution Valid Upto</td>
                        <td>{{ taxi.pollution }}</td>
                      </tr>
                      <tr>
                        <td>Engine number</td>
                        <td>{{ taxi.engine_number }}</td>
                      </tr>
                      <tr>
                        <td>Chasis number</td>
                        <td>{{ taxi.chasis_number }}</td>
                      </tr>
                      <tr>
                        <td>Owner/Driver</td>
                        <td>{{ taxi.owner_driver }}</td>
                      </tr>
                      {% endif %}
                     
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
<div style=" display: none;">
<form id="emer" action="/taxi_emergency/" method="post">i
    {% csrf_token %}
    <input id="id" type="text" name="id" value="{{taxi.id }}">
    <input id="point" type="text" name="point" value="">
    <input type="submit" value="submit">
</form>
</div>
<script type="text/javascript">
    function sendSOS() {

  if (!navigator.geolocation){
    //output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    var url = "http://"+"{{request.get_host}}";
    var id = "{{taxi.traffic_number}}";
    window.open(url+'/complaint/'+id,"_self")
    return;
  }
  function success(position) {
	var latitude  = position.coords.latitude;
    	var longitude = position.coords.longitude;
	document.getElementById("point").value = latitude+','+longitude;
	document.forms.emer.submit()


	}
  function error() {
    var url = "http://"+"{{request.get_host}}";
    var id = "{{taxi.traffic_number}}";
    window.open(url+'/complaint/'+id,"_self")
    //output.innerHTML = "Unable to retrieve your location";
  }

 // output.innerHTML = "<p>Locating…</p>";

  navigator.geolocation.getCurrentPosition(success, error);
}

</script>
{% endblock %}










